body {
  margin: 0px;
  background-image: url("../img/new_icon/bg_square.jpg");
  background-attachment: fixed;
  width: 100%; }

.top-bar {
  z-index: 99;
  padding: 0px;
  position: fixed;
  height: 70px;
  width: 100%;
  background-image: url("../img/header.png");
  background-repeat: repeat-x; }
  .top-bar .nav-btn-area {
    width: 1084px;
    height: 70px;
    margin: 0 auto;
    margin-top: -16px; }
    .top-bar .nav-btn-area ul {
      margin-left: 450px;
      list-style-type: none;
      width: 560px;
      height: 70px; }
      .top-bar .nav-btn-area ul li {
        width: 140px;
        height: 70px;
        float: left; }
    .top-bar .nav-btn-area #nav-logo {
      position: fixed;
      height: 93px;
      width: 191px;
      margin-left: 100px;
      background-image: url("../img/logo.png"); }
    .top-bar .nav-btn-area .logo-mouseout {
      top: -5px; }
    .top-bar .nav-btn-area #nav-aboutkono {
      background-image: url("../img/buttons/about.jpg"); }
    .top-bar .nav-btn-area #nav-team {
      background-image: url("../img/buttons/team.jpg"); }
    .top-bar .nav-btn-area #nav-jobs {
      background-image: url("../img/buttons/jobs.jpg"); }
    .top-bar .nav-btn-area #nav-contact {
      background-image: url("../img/buttons/contact.jpg"); }
    .top-bar .nav-btn-area .nav-mousein {
      opacity: 0.6;
      -moz-opacity: 0.6;
      -khtml-opacity: 0.6;
      filter: alpha(opacity=60); }

.tree-parent {
  width: 100%;
  position: fixed;
  z-index: -100; }
  .tree-parent .tree {
    margin: 150px auto 0;
    width: 1190px;
    height: 320px;
    background-image: url("../img/new_icon/trees.png"); }

.shadow {
  position: fixed;
  float: left;
  margin-top: 110px;
  margin-left: 0px;
  height: 373px;
  width: 100%;
  background-image: url("../img/new_icon/tree_shadow.png");
  background-repeat: repeat-x;
  z-index: -90; }

.content {
  margin-top: 100px;
  position: relative;
  width: 984px;
  margin: 0 auto; }
  .content .content-title {
    width: 874px;
    height: 73px;
    margin: 30px auto; }
  .content #content-logo {
    padding-top: 400px;
    width: 1084px;
    width: 984px;
    height: 0px; }
    .content #content-logo .ipad {
      float: left;
      width: 513px;
      height: 751px;
      margin-left: 70px;
      margin-top: -303px;
      background-image: url("../img/logo/ipad.png"); }
    .content #content-logo .logo-description {
      float: left;
      width: 350px;
      margin-left: 50px;
      margin-top: -303px; }
      .content #content-logo .logo-description .logo-title {
        width: 307px;
        height: 111px;
        margin-top: 25px;
        background-image: url("../img/logo/title.png"); }
      .content #content-logo .logo-description .app-store {
        width: 308px;
        height: 89px;
        margin-top: 30px; }
        .content #content-logo .logo-description .app-store img {
          margin-left: 24px; }
      .content #content-logo .logo-description .prompt {
        margin-top: 60px;
        width: 308px; }
        .content #content-logo .logo-description .prompt .prompt-text {
          font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
          font-size: 14px;
          color: #6d695b;
          text-shadow: 2px 2px white;
          text-align: center;
          letter-spacing: 2px; }
      .content #content-logo .logo-description .social {
        width: 300px;
        margin: 0 auto; }
        .content #content-logo .logo-description .social ul {
          padding: 0;
          list-style-type: none;
          height: 30px;
          margin-top: 30px; }
          .content #content-logo .logo-description .social ul li {
            float: left; }
          .content #content-logo .logo-description .social ul .logo-twitter {
            margin-left: 7px;
            margin-right: 20px; }
      .content #content-logo .logo-description .cut {
        width: 340px;
        margin: 0 auto; }
        .content #content-logo .logo-description .cut ul {
          padding: 0;
          list-style-type: none;
          height: 30px; }
          .content #content-logo .logo-description .cut ul li {
            float: left; }
          .content #content-logo .logo-description .cut ul .line {
            width: 131px;
            height: 2px;
            margin-top: 14px;
            background-image: url("../img/logo/line.png"); }
          .content #content-logo .logo-description .cut ul .or {
            margin: 0 10px;
            margin-top: 5px;
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            color: #6d695b;
            text-shadow: 2px 2px white;
            text-align: center; }
      .content #content-logo .logo-description .subscribe ul {
        padding: 0;
        list-style-type: none;
        height: 30px; }
        .content #content-logo .logo-description .subscribe ul li {
          float: left; }
          .content #content-logo .logo-description .subscribe ul li input {
            padding-left: 15px;
            width: 280px;
            height: 45px;
            border-radius: 5px;
            border: 1px solid #dddddd;
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            font-size: 17px;
            color: #cccccc; }
        .content #content-logo .logo-description .subscribe ul .subscribe-send-top {
          width: 37px;
          height: 45px;
          background-image: url("../img/logo/submit.png");
          margin-left: 2px; }
      .content #content-logo .logo-description .logo-device {
        margin-left: 12px;
        margin-top: 60px;
        width: 288px;
        height: 76px;
        background-image: url("../img/logo/coming_soon.png"); }
  .content #content-team {
    padding-top: 400px;
    width: 1084px;
    padding-bottom: 80px; }
    .content #content-team .content-title {
      background-image: url("../img/new_icon/team_title.png"); }
    .content #content-team .team-photo {
      overflow: hidden;
      width: 880px;
      height: 176px;
      margin: 30px auto; }
      .content #content-team .team-photo .team-photo-list {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        width: 1540px;
        height: 220px; }
        .content #content-team .team-photo .team-photo-list li {
          width: 176px;
          height: 176px;
          float: left;
          background-size: cover; }
        .content #content-team .team-photo .team-photo-list #stanley {
          background-image: url("../img/team/stanley.jpg"); }
        .content #content-team .team-photo .team-photo-list #bobby {
          background-image: url("../img/team/bobby.jpg"); }
        .content #content-team .team-photo .team-photo-list #kevin {
          background-image: url("../img/team/kevin.jpg"); }
        .content #content-team .team-photo .team-photo-list #sammy {
          background-image: url("../img/team/sammy.jpg"); }
        .content #content-team .team-photo .team-photo-list #julia {
          background-image: url("../img/team/julia.jpg"); }
        .content #content-team .team-photo .team-photo-list #avatar {
          background-image: url("../img/team/avatar.png"); }
        .content #content-team .team-photo .team-photo-list #ian {
          background-image: url("../img/team/ian.jpeg"); }
        .content #content-team .team-photo .team-photo-list #neo {
          background-image: url("../img/team/neo.jpg"); }
        .content #content-team .team-photo .team-photo-list #boyu {
          background-image: url("../img/team/boyu.jpg"); }
        .content #content-team .team-photo .team-photo-list #pinko {
          background-image: url("../img/team/pinko.jpg"); }
      .content #content-team .team-photo .photo-left {
        margin-top: -115px;
        width: 39px;
        height: 37px;
        background: url(../img/team/controls.png) top left no-repeat;
        opacity: 0.6;
        -moz-opacity: 0.6;
        -khtml-opacity: 0.6;
        filter: alpha(opacity=60); }
      .content #content-team .team-photo .photo-right {
        margin-top: -37px;
        margin-left: 840px;
        width: 39px;
        height: 37px;
        background: url(../img/team/controls.png) top right no-repeat; }
      .content #content-team .team-photo .photo-arrow-mouseout {
        opacity: 0.6;
        -moz-opacity: 0.6;
        -khtml-opacity: 0.6;
        filter: alpha(opacity=60); }
      .content #content-team .team-photo .photo-arrow-mousein {
        opacity: 0.9;
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        filter: alpha(opacity=90); }
    .content #content-team .team-description {
      margin: 0px auto;
      width: 880px; }
      .content #content-team .team-description p {
        margin-left: 0px;
        font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
        font-size: 14px;
        text-align: left; }
  .content #content-jobs {
    padding-top: 400px;
    width: 1084px;
    margin-top: -460px; }
    .content #content-jobs .content-title {
      background-image: url("../img/new_icon/jobs_title.png"); }
    .content #content-jobs .jobs-description {
      margin: 0px auto;
      width: 880px; }
      .content #content-jobs .jobs-description p {
        font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
        font-size: 14px; }
    .content #content-jobs .front-end-title {
      margin-left: 125px;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 298px;
      height: 33px;
      font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
      font-size: 30px; }
    .content #content-jobs .front-end-detail {
      margin-left: 125px;
      font-size: 20px;
      font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei"; }
      .content #content-jobs .front-end-detail .front-end-job-content ul {
        font-size: 14px;
        width: 760px;
        line-height: 20px;
        list-style-type: circle; }
        .content #content-jobs .front-end-detail .front-end-job-content ul li {
          margin-bottom: 20px; }
          .content #content-jobs .front-end-detail .front-end-job-content ul li span {
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            font-size: 15px; }
      .content #content-jobs .front-end-detail .front-end-job-condition ul {
        width: 760px;
        line-height: 20px;
        list-style-type: circle; }
        .content #content-jobs .front-end-detail .front-end-job-condition ul li {
          margin-bottom: 20px; }
          .content #content-jobs .front-end-detail .front-end-job-condition ul li span {
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            font-size: 15px; }
    .content #content-jobs .jobs-bottom {
      margin-left: 1px;
      width: 1084px;
      height: 84px; }

.contact {
  margin: 0 auto;
  background-image: url("../img/new_icon/bg_bottom.jpg"); }
  .contact .contact-body {
    margin: 0 auto;
    text-align: middle;
    height: 220px;
    width: 984px; }
    .contact .contact-body div {
      float: left; }
    .contact .contact-body .contact-info {
      margin-left: 100px; }
      .contact .contact-body .contact-info ul {
        list-style-type: none;
        width: 260px; }
        .contact .contact-body .contact-info ul li {
          line-height: 16px;
          margin-top: 15px; }
          .contact .contact-body .contact-info ul li img {
            position: relative;
            top: 3px; }
          .contact .contact-body .contact-info ul li .address-img {
            float: left; }
          .contact .contact-body .contact-info ul li span, .contact .contact-body .contact-info ul li a {
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            font-size: 14px;
            color: white;
            margin-left: 5px; }
          .contact .contact-body .contact-info ul li .address-div {
            color: white;
            line-height: 20px;
            position: relative;
            top: -12px;
            left: 25px;
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            font-size: 14px; }
    .contact .contact-body .other-links {
      position: relative;
      top: 0px;
      height: 30px; }
      .contact .contact-body .other-links ul {
        list-style-type: none; }
        .contact .contact-body .other-links ul li {
          width: 50px;
          float: left; }
    .contact .contact-body .subscribe {
      width: 328px;
      height: 180px; }
      .contact .contact-body .subscribe ul {
        padding: 0;
        list-style-type: none;
        height: 25px; }
        .contact .contact-body .subscribe ul li {
          float: left; }
          .contact .contact-body .subscribe ul li input {
            padding-left: 29px;
            margin-left: 36px;
            width: 250px;
            height: 26px;
            border-radius: 5px;
            border: 1px solid #dddddd;
            font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";
            font-size: 13px;
            color: #cccccc; }
        .contact .contact-body .subscribe ul .subscribe-send-bottom {
          width: 37px;
          height: 70%;
          margin-left: 5px;
          margin-top: -3px; }
    .contact .contact-body .footer {
      margin: auto;
      position: relative;
      margin-bottom: 2px;
      width: 960px;
      text-align: right;
      color: white;
      font-size: 10px;
      font-family: "儷黑Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei"; }
      .contact .contact-body .footer a {
        color: white; }
